html, body {
    height: 100%;
    width: 100%;
  }
  body{
      background-image: url(img1.jpeg);
      background-size: cover;
  }
  
  
  .name{
      height: 30px; margin-top: 12px; width: 300px; margin-left: 50px; 
  }
  .name2{
      height: 30px; margin-top: 12px; width: 660px; margin-left: 50px;
  }
  h1{
      color: #3598; margin-bottom: 5px; margin-left: 50px;
  }
  #boy{
      margin-top: 1px; font-family: sans-serif; margin-left: 50px;
  }
  
  .name3{
      margin-left: 100px; margin-top: 5px;
  }
  p{
      margin-left: 50px;
  }
  .one{
      padding-bottom: 5px; margin-top: 50px; margin-left: 60px;
  }
  a[href]:hover{
      color: red;
  }
  #color{
    width: 300px;
  }
  #submit{
      margin-left: 50px;
      height: 25px;
      width: 100px;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
      color: blue;
      background-color: rgb(33, 125, 168);
    border-radius: 51px;
   
  }
  input{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input:focus{
    background-color: #ddd;
  }