form{
    text-align: center;
}
.one{
   width: 30%;
   height: 40px;
   margin-bottom: 10px;
   margin-left: 20px;
   
}
.on{
   width: 30%;
   height: 40px; margin-top: 30px; 
}
input:active,input:focus{
   background-color: #79799c;
}
textarea{
   width: 30%; margin-top: 40px; background-color: blue;
   margin-left: 100px; margin-top: 60px; color:azure;
}
.two{

border-radius: 30px;
margin-top: 50px;
margin-left: 50px;
color: azure;
background-color: green;

}
h1{
   color: blue;
}
p{
 color: blue; font-size: 25px;
}
